IF -> untuk mengarahkan code ke kondisi tertentu (flow control)

<!-- template -->
if (condition 1 .....) and (condition 2 ....) and (condition 3 .....) : \
    aksi 1 \
else : \
    aksi 2 \

condition -> logical expression

x == 5 -> true / false

In [3]:
# assignment
x = 5

In [5]:
# assignment
x == 7 # logic sama dengan

False

In [7]:
x >= 3 # lebih dari sama dengan

True

kita mau mengecek, nilai sisa itu lulus apa engga. Untuk lulus minimal nilainya itu 60.
kalau lulus, tulis `lulus`, klo tidak lulus tulis `remidial`

In [15]:
nilai = 70

In [16]:
if (nilai >= 80) :
    print('lulus') #tulis lulus
else :
    # jika nilai < 80
    print('remidial')

remidial

And -> jika semua kondisi terpenuhi maka true

x = 90

if (x >=10) and (x <40) : -> false

dosen mau mengelompokkan nilai mahasiswa , jika nilai < 40 maka nilai mhs C. Jika nilai lebih dari sama dengan 40 dan kurang dari 70 maka nilai B. Jika nilai lebih dari sama dengan 70 maka nilai A

In [25]:
nilai = 30

In [26]:
if (nilai < 40):
    print('C')
elif (nilai >= 40) and (nilai < 70):
    print('B')
else :
    print('A')

C

In [28]:
nilai**2 #kuadrat

900

### Perulangan

Perulangan -> untuk mengulangi sebuah operasi pada kondisi tertentu

template

for variable in range(jumlah_perulangan):
    aksi

for x in range(10): -> x akan berjalan dari 0 - 9
    print(x)

yang dilakukan komputer
x = 0 -> aksi -> print(x) -> output `0`

x = 1 -> aksi -> print(x) -> output `1`

x = 9 -> aksi -> print(x) -> output `9`

In [35]:
for x in range(5): # ulangi 5x
    y = '' 

    if (x == 0):
        y = 'nol'
    elif (x==1):
        y = 'satu'
    
    print('{}.halo'.format(y))

nol.halo
satu.halo
.halo
.halo
.halo

In [33]:
for x in range(5): # ulangi 5x
    if (x == 3):
        None
    else:
        print('{}.halo'.format(x))

0.halo
1.halo
2.halo
4.halo

buat sebuah perulangan untuk menampilkan angka kelipatan 2. mulai dari 2,4,6,8 ... 32
2 \
4 \
6 \
8 

**hint** : dalam perulangan operasikan indeks variabel x 2

In [37]:
for x in range(2,34,2): # template (nilai_awal, nilai_akhir, penambahan)
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32

In [45]:
y = 0

for x in range(1,17): # template (nilai_awal, nilai_akhir, penambahan)
    
    y+=2 
    print(y)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32

### Data Structure

- list \
  kumpulan value dengan [] . Contoh list_nama_siswa = ['ira', 'ai', 'asep']. List ini valuenya boleh tidak unik. punya index
- set \
  kumpulan value dengan {} . Contoh list_nama_siswa = {'ira', 'ai', 'asep'}. set ini valuenya pasti unik. tidak punya index
- tuple \
  kumpulan value dengan () . Contoh tuple_nama_siswa = ('ira', 'ai', 'asep'). tuple ini valuenya boleh tidak unik. punya index, tapi index nya ga bisa berubah
- dictionary -> bahas lain waktu

In [49]:
list_nama_siswa = ['ira', 'ai', 'asep', 'ira']

In [52]:
list_nama_siswa

['ira', 'ai', 'asep', 'ira']

In [64]:
# untuk memanggil salah 1 value di list
# template nama_list[index]
list_nama_siswa[0] = 'ani'

In [65]:
list_nama_siswa

['ani', 'ai', 'asep', 'ira']

In [53]:
set_nama_siswa = {'ira', 'ai', 'asep', 'ira'}

In [54]:
set_nama_siswa

{'ai', 'asep', 'ira'}

In [58]:
list(set(list_nama_siswa))

['asep', 'ai', 'ira']

In [59]:
tuple_nama_siswa = ('ira', 'ai', 'asep', 'ira')

In [67]:
tuple_nama_siswa[0] = 'ani'

TypeError: 'tuple' object does not support item assignment

In [69]:
list(tuple_nama_siswa)[0] = 'ani'

In [70]:
tuple_nama_siswa

('ira', 'ai', 'asep', 'ira')

In [72]:
# template mengoperasikan tiap value di list
# for nama_var_baru in list:
#     aksi per nama_var_baru

for nama in list_nama_siswa:
    print('nama siswa : {}'.format(nama))

nama siswa : ani
nama siswa : ai
nama siswa : asep
nama siswa : ira

In [75]:
list_angka = [2, 5, 10]

for x in list_angka:
    y = x**2

    print(y)

4
25
100

In [76]:
nama = 'astri'
print(len(nama))

5